:root{
    –main-white: #f0f0f0;
    -brick-main : #924200;
    -brick-second : #3d1c00;
    -grass-main : #2d7d00;
    -grass-second : #509e26;
    -water-main:#21bffff0;
    -water-second :#2867ff;
    -desert-main : #d09700;
    -desert-second : #b88600;
    -ocean-main:#fff;
    -ocean-second:#fff;
    -dirt-main:#fff;
    -dirt-second:#fff;
    -dialog-main:#fff;
    -dialog-second:#fff;
}


body, html {
    /* height: 100%; */
    /* margin: 0; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
*{
    /* border:1px solid black; */
}
#sboard{
    font-weight:bold;
    background:linear-gradient(#fff,#ddf4f4);
}
#game{
    position: absolute;
    /* top:20%; */
    text-align: center;
}
#headerboard{
    width:100%;
}
#gameover{
    width: 300px;
    font-weight: bold;
    border: 2px dashed gainsboro;
    border-radius: 20px;
    padding: 20px;
    text-align:center;
}
#gameover table{
    text-align:center;
    width:100%;
}
#gameover #newgame{
    border:none;
    border-radius:10%;
    padding:4px 10px 4px 10px;
    background:linear-gradient(#fff0f0,#bfffbfbf);
    color:#0d6311;
    font-weight:bold;
}